* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(180deg, #7F7FD5);
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background-attachment: fixed;
  }

  body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #de6161;  
    background: -webkit-linear-gradient(to right, #2657eb, #de6161);
    background: linear-gradient(to right, #2657eb, #de6161);
    font-family: 'Mulish', sans-serif;
  
  }
  
  
  .form-login {
    width: 550px;
    height: 340px;
    background: #91EAE4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7F7FD5, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: center;
    margin-top: 50px;
    box-shadow: 10px 13px 22px #7F7FD5;
    padding: 20px 30px;
    border-top: 30px solid white;
    color: white;
  }
  
  .form-login h5 {
    margin: 15;
    text-align: center;
    height: -170px;
    margin-bottom: 30px;
    border-bottom: 2px solid;
    font-size: 20px;
  }
  
  .controls {
    width: 100%;
    border: 1px solid #bd72b9;
    margin-bottom: 15px;
    padding: 10px 9px;
    background: white; 
    font-size: 14px;
    font-weight: bold;
  }
  
  .buttons {
    width: 100%;
    height: 39px;
    background: #91EAE4;
    border: none;
    color: white;
    margin-bottom: 12px;
  }
  
  .form-login p{
    height: 30px;
    text-align: center;
    border-bottom: 3px solid;
  }
  
  .form-login a {
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  
  .form-login a:hover {
    text-decoration: underline;
  }
  
  .wave::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 12%;
    top: -5px;
    left: 0;
    background-image: url(img/wave.png);
    background-repeat: repeat-x;
    background-size: 100%;
    background-position: absolute;
    opacity: .4;
    animation: wave-reverse 7s linear infinite;
}

.wave::after {

    content: '';
    position: absolute;
    width: 100%;
    padding-top: 12%;
    top: -5px;
    left: 0;
    background-image: url(img/wave.png);
    background-repeat: repeat-x;
    background-size: 100%;
    opacity: .8;
    animation-delay: -4s;
    animation: wave 16s linear infinite;
}

@keyframes wave {
    0% {
        background-position: 0;
    }

    100% {
        background-position: 100vw;
    }
}

@keyframes wave-reverse {
    0% {
        background-position: 100vw;
    }

    100% {
        background-position: 0;
    }
}
  
  
  
  /*Login*/
  