#yota{
<<<<<<< HEAD
    background-color: blueviolet;
    height: 500px;
    width: 500px;
=======
    background-color: #36CA67;
    height: 100px;
<<<<<<< HEAD
    width: 700px;
>>>>>>> cdfeb443fac1a0fb188da16b4dd8f068a615157e
=======
    width: 900px;
>>>>>>> 8559473cee4487c3c690f38c58b74c850b63b1c6
    /* Test */
}