*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    list-style: none;
    transition: all 0.2s ease-out;
}

.ondaConten{
    transform: scaleY(-1);
    position: absolute;
    top: 470px;
    width: 100%;
}

#Ond1 *{
    opacity: 0.9;
    animation-duration: 9s !important;
    
}

#Ond2 *{
    animation-duration: 5s !important;
    opacity: 0.5;
    top: -10px;
}

#BodyDown{
    top: 160px;
    position: absolute;
    width: 100%;
}

/* Fondo y cabeza de la pagina
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
*/
#Header{
    position: absolute;
    top: -10px;
    width: 100%;
    height: 101%;
    background: linear-gradient( #654ea3 30%, #eaafc8 80%);
    background-position-y: 10px;
    color: white;  
    /* z-index: -1;   */
}
/* 
display: inline-block;
    text-align: center;
    margin-left: 40px;
     */
#SubHead{
    padding-top: 30px;
    display: inline-block;
    width: 100%;
    /* background-color: white; */
    padding-bottom: 10px;
    color: black;
}

#SubHead * {
 z-index: 99;
}
/* apartado opciones de usuario en el HEAD
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
*/
#OptionsUser{
    display: inline-flex;
    width: auto;
    outline: none;
}

#OptionsUser li{
    display: block;
    margin-top: 10px;
    padding: 4px;
    height: 20px;
    transition: all 0.1s linear;
    cursor: pointer;
    padding-left: 10px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

#OptionsUser li:hover{
    border-bottom: 1px solid #000000;
    border-radius: 1px;
    
}

#OptionsUser li:active{
    background-color: rgba(0, 0, 0, 0.174);
    border: none;
    border-radius: 3px;
}

#OptionsUser img{
    height: 40px;
    padding: 5px;
    margin-left: 10px;
    border-radius: 50%;
    border: solid 1px black;
    /* background-color: rgb(255, 0, 0); */
}



/* Panel de welcome
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
*/
#Panel_welcome{
    background: none;
    background-color: rgba(214, 183, 255, 0.808);
    text-align: center;
    opacity: 1;
    height: 150px;
    
}

#Panel_welcome h2{
    padding-top: 50px;
    font-size: 20px;
    background: -webkit-linear-gradient(rgb(40, 25, 136) 75%, rgb(147, 66, 197) 95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* panel styles
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
*/


.GeneralStyle{
    width: auto;
    height: auto;
    margin: 5%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    border-radius: 4px;
    opacity: 0;
    display: none;
    text-align: center;
    transition: all 0.5s ease-out;
    background: linear-gradient( #ffffff 40%, #ffffffa2 90%);
    /* background-color: rgb(255, 255, 255); */
}

#Panel_content select{
    height: 40px;
    border-radius: 1px;
}



/* Panel de contenido
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
*/
#Panel_content{
    padding: 10px;
    padding-right: 68px;

}

.sub_Panel{
    border: solid rgba(0, 0, 0, 0.158) 1px;
    background-color: rgb(245, 236, 255);
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    padding-bottom: 10px;

    /* background-color: #654ea3; */
    /* height: 230px; */

    max-width: 300px;
    width: 100%;
    display: inline-block;
    position: relative;
    margin-top: 30px;
}


.sub_Panel button{
    height: 40px;  
    margin-top: 15px; 
    background-color: #fdaaf9c5;
    border: none;
    border-radius: 10px;
}

.sub_Panel input{
    width: 100% !important;
    max-width: 250px;
    margin-top: 12px;
}

/* #SpecialLabel{
    display: block;
} */

.sub_Panel ul{
    height: 185px;
    padding: 0px;
    width:  auto !important;
    position: relative;
    display:  list-item;
    overflow: hidden;
    overflow-y: auto;
    /* left: -150px;
    top: 30px; */
}

.Entradas li{
    transition-duration: 0.2s;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.Entradas li:hover{
    background-color: #ded7ff !important;
}

.Entradas li:active{
    background-color: #d75afdcc !important;
}

.Entradas{
    background-color: rgba(255, 255, 255, 0.48);
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid rgba(42, 0, 47, 0.882);   
    outline: none;
    cursor: pointer;
    cursor: text;
    height: 23px;
    width: 100% !important;
    font-size: 20px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    display: -webkit-inline-box;
    position: relative;
    margin-top: 8px;
    margin-bottom: 8px;
}

.Entradas:hover{
    background-color: white;
}

.Entradas::placeholder{
    color: rgba(0, 0, 0, 0.366);
}



.TituloPanel{
    display: block;
    margin-top: 20px !important;
}


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* #Panel_Profile{
    display: block;
    opacity: 1;
    padding: 30px;
} */